<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="superheroesApp" ng-controller="SuperheroesController as vm">
  <input type="text" ng-model="vm.search">
  <p>{{vm.search}}</p>
  <ul>
    <h3>Superheroes:</h3>
    <li ng-repeat="superhero in vm.superheroes | filter: vm.search ">
      <!--
      <% @superheroes.each do |superhero| %>
        <li><%= superhero.name + ' : ' + superhero.phone_numbr %> </li>
      <% end %>
     -->
      {{superhero.name + ' : ' + superhero.phone_numbr}}
    </li>
  </ul>
</body>
</html>
